All of the items and stuff

<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Birthdate</th>
    <th>Account</th>
  </tr>
  {{#each items as |item|}}
    {{#if item.isGroup}}
      {{item-group group=item}}
    {{else}}
      {{item-item item=item isPrimary=(is-equal item.account.id primaryAccount.id) data-id=item.id}}
    {{/if}}
  {{/each}}
</table>

{{end-of-page
  reachedTheEnd=(action "reachedTheEnd")
  page=metaData.page
  isActive=stillHasPages
  isLoading=pageIsLoading
}}
