All of the items and stuff

<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Birthdate</th>
    <th>Account</th>
  </tr>
  {{#each activeItems as |item|}}
    {{item-item item=item}}
  {{/each}}
</table>

{{end-of-page
  reachedTheEnd=(action "reachedTheEnd")
  page=metaData.page
  isActive=stillHasPages
  isLoading=pageIsLoading
}}
